# Executables, env dependend files
*.o
*.so
*.bat
!logFilesCleaner.bat

# Build directories
bin/


# Generated documentation
doc/html
doc/latex
Logs/*.txt

# IDE's
.vscode
*.cbp
*.vcxproj
*.sln
*.workspace
